body {
  font-family: "Google Sans", arial, sans-serif;
}

.whole-page {
  max-width: 600px;
  margin: 50px auto;
}

.weather-body {
  border: 5px solid #eeeeee;
  border-radius: 7px;
  padding: 30px;
}

.main-weather-info {
  margin-bottom: 20px;
}

h1 {
  color: #202124;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

.left-float img {
  margin-right: 10px;
  height: 70px;
  width: 60px;
  vertical-align: baseline;
}

.left-float strong {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: normal;
  position: relative;
  top: -20px;
}

.left-float .temp-sighn {
  font-size: 16px;
  position: relative;
  top: -45px;
}

.left-float .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
}
li::first-letter {
  text-transform: capitalize;
}

.windDetails {
  text-transform: lowercase;
}

.weather-forcast-day {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 7px;
}

.weather-forecast-image img {
  width: 48px;
  display: inline;
  margin: 1px 4px 0;
}

.weather-forecast-temp {
  color: #202124;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
}

.weather-forecast-temp-min {
  color: #70757a;
}
